@import "_vars.scss";

body{
  @include body;
}


#home{
  background-image: url("../../assets/img/brick.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;

}

#bgHome{
  background-color:black;
  filter: opacity(90%);
  width: 70%;
  height: auto;
  margin: 0 auto;
  border-radius: 2px;
  padding: 30px 0 ;

  h1{
    font-size: 40px;
  }
}

.ipad{
  width: auto;
  height: 350px;
}


.whiteButton{
  background-color: white;
  color:black;
  padding: 5px 15px;
  margin: 15px auto;

}

.whiteText{
  color: white;
}


#computer-picture, #tablet, #error{
  width: $w100;
}

.text{
  @include textJustify;
  margin: $nomargin;
}

#box{
  width: 90%;
}

.power{
  width:$w65;
}



.title{
  color: #D1D1CF;
}

.titleBlack{
  color: black;
}

.priceCard{
  @include priceCard;
}

.have{
  font-size: 12px;
  padding-left:50px;
}

.check{
  width: $auto;
  height: 20px;
}

.blackButton{
  @include blackButton;
  padding: 10px 40px;
  margin: 20px;
  color:white
}

.details{
  padding: 15px 20px;
}

.link{
  background-color: #D1D1CF;
  border: 3px solid black;
  border-radius: 5px;
  margin: 20px 0;
}

.navigation, .link{
  width: 60%;
}

.margin{
  margin: 40px 0;
}

.margin404{
  margin: 60px 0;
}

@media (min-width:2000px){

  .banner h3{
    font-size: 60px;
  }
  .blackButton{
    padding: 30px 60px;
    font-size: 30px;
  }
}

@media all and (max-width:768px){
  .displayNone{
    display: none;
  }
  .tabletPadding{
    padding: 0 30px;
  }
  .priceCard{
    padding: 20px 10px;
  }
  .have{
    padding-left: 30px;
  }
  .navigation, .link{
    width: 70%;
  }
  .reverse{
    display: flex;
    flex-direction: column-reverse;
  }
  #tablet{
    width: 80%;
    margin-bottom: 40px;
  }
   #error{
    width: 70%;
  }

}

@media all and (max-width:576px){

  .tabletPadding{
    padding: 0 40px;
  }

  .phonePadding{
    padding: 0 20px;
  }

  h5{
    font-size: 15px;
  }

  .banner h3{
    font-size: 25px;
  }

  .padding {
    padding: 10px 0;
  }

  .priceCard{
    margin: 20px;
  }

  .columnResponsive{
    display: flex;
    flex-direction: column;
  }
}

@media all and (max-width:425px){

  #bgHome{
    h1{
      font-size: 30px;
    }
  }
  .banner{
    h3{
      font-size: 20px;
    }
  }
  .blackButton{
    margin: 20px 10px;
  }
}
